
.brandi {
    font-size: 22px;
    font-weight:bolder;
    color: #333300;
    font-family: Verdana, sans-serif;

}

.navtext {
    font-size: 20px;
    font-weight:bolder;
    color: #333300;
    font-family: Verdana, sans-serif;

}

